@media screen and (max-device-width: 768px) and (orientation: portrait) {
    body {
        width: 70%;
    }

    .formSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    input[type=text],input[type=search] {
        min-width:8em;
        min-height:2em;
        font-size: 1em;
        border-radius: 10px;
    }

    select {
        min-width:7em;
        height:2em;
        font-size: 1.5em;
    }

    input[type=button] {
        width:70%;
        height: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .divmailaddress {
        flex-direction: column;
        height: 15em;
    }

}

@media screen and (max-device-width: 768px) and (orientation: landscape) {
    body {
        width: 70%;
    }

    .formSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    input[type=text],input[type=search] {
        min-width:8em;
        min-height:2em;
        font-size: 1em;
        border-radius: 10px;
    }

    select {
        min-width:7em;
        height:2em;
        font-size: 1.5em;
    }

    input[type=button] {
        width:70%;
        height: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .divmailaddress {
        flex-direction: column;
        height: 15em;
    }

}

@media screen and (min-device-width: 769px) {
    body {
        max-width: 1024px;
        width: 90%;
    }

    .formSection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        flex-direction: row;
    }

    input[type=text],input[type=search] {
        min-width:5em;
        min-height:2em;
        font-size: 1em;
        border-radius: 15px;
    }

    select {
        min-width:7em;
        height:2em;
        font-size: 1em;
    }

    input[type=button] {
        width:70%;
        height: 3em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1em;
    }

    .divmailaddress {
        height: 18em;
        flex-direction: row;
    }

}

.ui-dialog {
    background: white;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1024px;
    overflow-wrap: normal;
}

#noscript {
    display: flex;
    width: 320px;
    height: 320px;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: green;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s; 
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100%   { opacity: 1; }
}


#main {
    display: none;
}

a {
    color: #00B7FF;
}

img#site-logo {
  width: 104px;
  height: 84px;
}

.navigation {

}

.mails_for {
    font-size: 1.5rem;
    font-weight: bold;
}

.mails {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.mail {

}

#intro {
    border-style: solid;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.divmailaddress {
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin-top: 1em;
    background: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divmailaddress2 {
    font-size: 1.5em;
}

#mailadress {
    height: 2em;
}

#qr {
    margin-top: 1em;
}

.nomails {
    color: red;
    font-weight: bold;
    font-size: 2em;
}


#user {
    width: 5em;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.header {
    background: #cccccc;
    border-radius: 15px;
    padding: 0.5em 5px 5px 5px;
    margin: 0.5em 5px 5px 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.label {
    float: left;
    width: 8em;
    padding-left: 0.5em;
    font-weight: bold;
}

.from {

}

.to {

}

.subject {

}

.footer {
    font-size: smaller;
}

.delete {
    color: red;
    font-weight: bold;
    height: 100%;
    width: 5em;
    position: absolute;
    right: 0;
    top: 0;
    margin: 3em 1em 1em 1em;
}

.hidden {
    display: none;
}

.form {
    width: 100%;
    background: #cccccc;
    border-radius: 15px;
}

.formHeader {
    padding-left: 1em;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
}


.formElement #user{
    padding-right: 1em;
}

.einzug {
    padding-left: 1em;
}

.at {
   padding: 0.1em 0.1em 0.1em 0.1em ;
}

input[type=text],input[type=search] {
}

select {
    border-radius: 15px;
}

input[type=button] {
    border-radius: 15px;
}

.error {
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.blacklisted {
    font-size: 2em;
    font-weight: bold;
    max-width: 400px;
    height: 5em;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin-top: 1em;
    background: #ff0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

