.DS_Store
.git
.idea
node_modules
app/node_modules
app/sessions
app/client_js/qrcode.bundle.js
app/client_js/package-lock.json
app/public/javascripts/main.min.js
app/public/javascripts/bundle.js
app/public/javascripts/bundle.min.js
app/public/javascripts/qrcode.min.js
app/public/stylesheets/style.min.css
app/public/tmp
trashmail2-client.iml
npm-debug.log
test.js
test/node_modules
test/test-libs
test/geckodriver.log
test/screen.*.png
test/package-lock.json
