p(class='footer',id='footer').
  Copyright (c) 2016 by Christian Felsing, released under conditions of
  Affero General Public License.
  #[br]#[a(href="https://github.com/ip6li/Trashmail", target="_blank") Trashmail Source Code]

