p(class='footer',id='footer').
  Copyright (c) 2016 by Christian Felsing, released under conditions of
  #[a(href="https://www.gnu.org/licenses/agpl-3.0.html", target="_blank") Affero General Public License].
  #[br]#[a(href="https://github.com/ip6li/trashmail2-client", target="_blank") Trashmail Source Code]
